@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&display=swap');

body{
    background-color: #3A4042;
}

header{
    background-color: #7C5E99;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 0px 0px #000;
}

img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    background-color: #F25A70;
}

nav{
    margin-right: 40px;
}

a{
    font-family: "Fira Code", sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

.menu-nav-items:before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: #F25A70;
    vertical-align: middle;
    margin-right: 10px;
}

.button{
    background-color: #F25A70;
    width: 170px;
    height: 60px;
    box-shadow: 5px 5px 0px 0px #000;
    margin: 0px;
    justify-content: center;
    transition: transform 100ms linear;
}

.button:hover{
    background-color: #f25a71e1;
    transform: scale(1.05);
    transition: transform 100ms linear;
}

#banner{
    margin-top: 10px;
    width: 100%;
    height: 807px;
    background-image: url(/assets/img/1337527.png);
}

#banner-separator{
    height: 100%;
    width: 955px;
    border-right: 5px solid black;
}

#banner-tittle{
    font-family: "Press Start 2P";
    display: inline-block;
    width: 627px;
    margin-left: 91px;
    margin-top: 116px;
    background: #3A4042;
    justify-items: center;
    text-shadow: 4px 4px 0px #000;
    filter: drop-shadow(10px 10px 0px #000);
}

#banner-buttons{
    margin-left: 181px;
    margin-top: 38px;
}

#banner-buttons a{
    margin-right: 112px;
}

#banner-tittle h1{
    font-size: 40px;
    color: #F25A70;
    margin: 42px 33px 28px 74px;
}

#banner-tittle h2{
    font-size: 30px;
    color: #FFF; 
    margin: 28px 47px 44px 40px;
}